* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
    font-size: 16px;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.produto {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 40px;
    border: 1px solid #666;
    border-radius: 3px;
    background-color: #222;
    gap: 20px;
    position: relative;
    max-width: 600px;
}

.produto .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.produto .left img#destaque {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
}

.produto .left #imagens {
    list-style: none;
    display: flex;
    gap: 10px;
    height: 100px;
    margin-top: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.produto .left #imagens img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #666;
    border-radius: 3px;
}

.produto .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.produto .right h1 {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 1px solid #666;
}

.produto .right p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.produto .right h2 {
    font-size: 20px;
    font-weight: 700;
    color: #dc60f5;
    margin-bottom: 20px;
}

.produto .right .comprar {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #34f57e;
    border: 1px solid #34f57e;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    text-align: center;
    color: #2a5e3e;
    margin-top: auto;
}

/* Efeito de hover no botão */
.produto .right .comprar:hover {
    background-color: #2a5e3e;
    color: #34f57e;
    box-shadow: 0 0 10px 2px rgba(52, 245, 126, 0.6);
}

/* Texto responsivo */
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
    .produto {
        flex-direction: column-reverse;
        align-items: center;
    }

    .produto .left {
        width: 100%;
    }

    .produto .right {
        width: 100%;
    }
}